examples/example-1.json
[{"id":"4f44ff00.dee59","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8b5f0867.837ec8","type":"debug","z":"4f44ff00.dee59","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":280,"wires":[]},{"id":"2b378e3f.7df822","type":"debug","z":"4f44ff00.dee59","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":450,"y":80,"wires":[]},{"id":"569522ee.2ebf6c","type":"inject","z":"4f44ff00.dee59","name":"on","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":110,"y":180,"wires":[["696252c.39fbfac"]]},{"id":"68eb4e2b.2acd2","type":"inject","z":"4f44ff00.dee59","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":280,"wires":[["2fd6c260.df31be"]]},{"id":"f21fa59b.26a1c8","type":"inject","z":"4f44ff00.dee59","name":"off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":110,"y":220,"wires":[["696252c.39fbfac"]]},{"id":"f34ab9d0.36b6e8","type":"inject","z":"4f44ff00.dee59","name":"invalid","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"test","payloadType":"str","x":110,"y":140,"wires":[["696252c.39fbfac"]]},{"id":"c21523d6.75035","type":"inject","z":"4f44ff00.dee59","name":"off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":110,"y":100,"wires":[["479e78ef.afbb08"]]},{"id":"ce9b3fa4.8e21f","type":"inject","z":"4f44ff00.dee59","name":"on","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":110,"y":60,"wires":[["479e78ef.afbb08"]]},{"id":"479e78ef.afbb08","type":"break director","z":"4f44ff00.dee59","name":"Dir_Stairway","actors":"","inputType":"msg","inputValue":"payload","lockType":"bool","lockValue":"true","unlockType":"else","unlockValue":false,"defaultState":false,"useTimeOut":false,"timeOut":"30","timeOutUnit":"s","x":290,"y":80,"wires":[["2b378e3f.7df822"]]},{"id":"42a2fe6b.8dce8","type":"break actor","z":"4f44ff00.dee59","name":"Hallway","link":"","director":"696252c.39fbfac","resendLast":true,"x":500,"y":280,"wires":[["8b5f0867.837ec8"]]},{"id":"2fd6c260.df31be","type":"trigger","z":"4f44ff00.dee59","name":"","op1":"","op2":"0","op1type":"date","op2type":"str","duration":"-5000","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":320,"y":280,"wires":[["42a2fe6b.8dce8"]]},{"id":"aaccf560.2319d8","type":"debug","z":"4f44ff00.dee59","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":340,"wires":[]},{"id":"e26e53c3.0d623","type":"inject","z":"4f44ff00.dee59","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":340,"wires":[["5a3e8fce.3c56a"]]},{"id":"57dae9c.b8db218","type":"break actor","z":"4f44ff00.dee59","name":"Stairway","link":"","director":"479e78ef.afbb08","resendLast":false,"x":500,"y":340,"wires":[["aaccf560.2319d8"]]},{"id":"5a3e8fce.3c56a","type":"trigger","z":"4f44ff00.dee59","name":"","op1":"","op2":"0","op1type":"date","op2type":"str","duration":"-1000","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":320,"y":340,"wires":[["57dae9c.b8db218"]]},{"id":"696252c.39fbfac","type":"break director","z":"4f44ff00.dee59","name":"Dir_Hallway","actors":"","inputType":"msg","inputValue":"payload","lockType":"bool","lockValue":"true","unlockType":"else","unlockValue":false,"defaultState":false,"useTimeOut":true,"timeOut":"15","timeOutUnit":"s","x":290,"y":180,"wires":[["677a0a83.d3da54"]]},{"id":"677a0a83.d3da54","type":"debug","z":"4f44ff00.dee59","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":450,"y":180,"wires":[]}]